:root {
  /* Primario */

  --Rojo: hsl(0, 100%, 74%);
  --Verde: hsl(154, 59%, 51%);

  --Verde_sombra: hsl(154, 59%, 45%);
  --Verde_hover: hsl(154, 59%, 60%);

  /* Acento */

  --Azul: hsl(248, 32%, 49%);

  /* Neutral */

  --Azul_oscuro: hsl(249, 10%, 26%);
  --Azul_grisaceo: hsl(246, 25%, 77%);

  --Azul_grisaceo_claro: hsl(246, 25%, 90%);
  --Azul_oscuro_hover: hsla(249, 10%, 26%, 0.25);
}

.icono_error,
.texto_error {
  display: none;
}

.entrada.error .icono_error,
.entrada.error .texto_error {
  display: block;
}

.entrada.error input {
  border: 2px solid var(--Rojo);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  background-image: url(../images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-color: var(--Rojo);

  color: white;
}

/* Contenedor */
.container {
  width: 70%;
  display: flex;
  margin: 30px 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

/* Información */
.informacion {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
  flex: 1;
}

@media (max-width: 768px) {
  .informacion {
    text-align: center;
    margin: 0;
    width: 100%;
  }
}

/* Titulo */
.title {
  font-weight: 700;
  font-size: 2.5em;
  display: inline-block;
  margin: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }
}

/* Texto principal */
.text {
  font-weight: 500;
  font-size: 0.8em;
  margin: 20px 0;
  line-height: 1.5;
  color: var(--Azul_grisaceo_claro);
}

@media (max-width: 768px) {
  .text {
    margin-bottom: 40px;
  }
}

/* Registro */
.sign {
  text-align: center;
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

@media (max-width: 768px) {
  .sign {
    width: 100%;
  }
}

/* Oferta */
.oferta {
  background: var(--Azul);
  padding: 15px 0;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 0.8em;
  box-shadow: 0px 6px 0px 0px var(--Azul_oscuro_hover);
  font-weight: 400;
}

@media (max-width: 768px) {
  .oferta {
    padding: 15px 35px;
    line-height: 1.8;
  }
}

/* Texto de la oferta */
.oferta_scan {
  font-weight: bold;
}

/* Carta*/
.card {
  background: white;
  padding: 20px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 6px 0px 0px var(--Azul_oscuro_hover);
}

@media (max-width: 768px) {
  .card {
    padding: 20px 20px;
  }
}

/* Formulario */
.formulario {
  display: flex;
  flex-direction: column;
}

/* Contenedores de los inputs */
.entrada {
  position: relative;
}

/* inputs del formulario */
.formulario input {
  padding: 0 25px;
  height: 45px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 6px;
  font-size: 0.8em;
  border-radius: 5px;
  border: 1px solid var(--Azul_grisaceo);
  font-weight: 600;
}

@media (max-width: 768px) {
  .formulario input {
    padding: 0px 15px;
  }
}

.formulario input:focus {
  outline: none;
  border: 1.5px solid var(--Azul_oscuro);
}

/* Boton del formulario */
.formulario button {
  height: 45px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 0.8em;
  background: var(--Verde);
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 3px 0px var(--Verde_sombra);
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.formulario button:hover {
  background: var(--Verde_hover);
}
/* Terminos y condiciones */
.terminos {
  margin-top: 5px;
  font-size: 0.5em;
  color: var(--Azul_grisaceo_claro);
  font-weight: 700;
}

@media (max-width: 768px) {
  .terminos {
    padding: 0 20px;
    line-height: 2;
  }
}

.terminos_scan {
  color: var(--Rojo);
}

/* Iconos de error */
.icono_error {
  position: absolute;
  top: 30%;
  right: 20px;
}

/* Texto de error */
.texto_error {
  text-align: right;
  font-size: 0.6em;
  font-style: italic;
  color: var(--Rojo);
  margin: 0;
  margin-bottom: 7px;
  font-weight: 600;
}

/* Otro */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
